<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">TaskUp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% if (locals.user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/user/userHome">Home</a> <!-- Tasks assigned to user by user itself-->
          </li>
        <li class="nav-item">
          <a class="nav-link" href="/tasks/myTasks">Personal Tasks</a> <!-- Tasks assigned to user by user itself-->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tasks/assignedTasks">Tasks assigned to me</a> <!-- Tasks assigned to user by other user-->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tasks/myAssignedTasks">Tasks assigned by me</a> <!-- Tasks assigned by user to other user-->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tasks/pastTasks">Tasks History</a> <!-- history tasks-->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tasks/createTask">Create New Task</a> <!-- Create task-->
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/groups/list">My Groups</a>
        </li> -->
        <% } %>
      </ul>
      <div class="ms-auto">
        <% if (locals.user) { %>
        <a class="btn btn-outline-primary me-2" href="/user/logout">Logout</a>
        <% } else { %>
        <a class="btn btn-outline-primary me-2" href="/user/login">Login</a>
        <a class="btn btn-primary" href="/user/signup">Sign Up</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>