<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/registrationCss.css">
    <title>SignUp</title>
</head>
<body>
    <div class="container">
        <div class=heading>TaskUp - Your own task manager</div>
    <div class="wrapper">
        <h2>SignUp</h2>
        <% if (locals.msg) { %>
            <p style="color: red;"><%= locals.msg %></p>
        <% } %>
        <form action="/user/signup" method="POST">
            <div class="input-box">
                <input type="text" name="name" placeholder="Enter your name" required>
            </div>
            <div class="input-box">
                <input type="email" name="email" placeholder="Enter your email" required>
            </div>
            <div class="input-box">
                <input type="password" name="password" placeholder="Create password" required>
            </div>
            <div class="input-box">
                <input type="password" name="confirmPassword" placeholder="Confirm password" required>
            </div>
            <div class="input-box button">
                <input type="submit" value="Register Now">
            </div>
            <div class="text">
                <h3>Already have an account? <a href="/user/login">Login now</a></h3>
            </div>
        </form>
    </div>
</div>
</body>
</html>
